body{
    background-color:white;
    margin:0px;
    width:100%;
    height:100%;
    padding:0px;
    overflow-x:hidden;
}

#slogo{
    position:relative;
    top:-90px;
    left:50px;
}
#banner{
    position: relative;
    
}
#createuser{
    position: relative;
    left: 100px;
    top: -50px;
    font-size: 36pt;
    color: rebeccapurple
}
#creating{
    position: relative;
    left:900px;
    font-size:18pt
        
    
}