#slogo{
    position:relative;
    top:-105px;
    left:0px;
}
#banner{
    position: relative;
    top: -15px;
    left:-10px;
    
}
#friendslist{
    position: relative;
    left: 50px;
    top: -80px;
    font-size: 36pt;
    color: rebeccapurple
}